:root {
    --nav-bar-color: #51A4F1;
    --nav-item-color: white;
    --button-color: #0957A8;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/images/backgr.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--nav-bar-color);
    width: 100%;
    margin: auto;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 40px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
}


.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.name {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: var(--nav-item-color);
    text-decoration: none;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a {
    text-decoration: none;
    color: var(--nav-item-color);
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 45px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
    color: white;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid var(--button-color);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: var(--button-color);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.more-info {
    display: grid;
    grid-template-columns: 800px 700px;
    width: 100%;
    position: absolute;
    top: 100%;
    text-align: left;  
    color: #fff;
    background-color: var(--nav-bar-color);
    padding: 30px 0 30px 0;
}