@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

:root {
    --card-color: #fff;
    --card-button-color: #34AF6D;
    --card-button-hover-color: #4AD489;
}

/* personal infor starts here */
.infor-card {
    padding: 20px;
    margin: 25px 0;
    background: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.infor-card header {
    color: #333;
    display: flex;
    justify-content: space-between;
}

.infor-card span {
    text-decoration: underline;
}

.infor-card span:hover {
    color: var(--card-button-hover-color);
    cursor: pointer;
}

.infor-content {
    border-radius: 10px;
    padding: 20px;
    margin-top: 16px;
    background: #f2f2f2;
}

.infor-content .title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

.infor-content .field-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infor-content .field {
    margin-top: 10px;
    width: calc(100% /3 - 15px);
}

.infor-content .field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.infor-content .infor-text {
    width: 100%;
    background-color: white;
    height: 42px;
    overflow: auto;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin: 5px 0;
    padding: 5 15px;
    align-content: center;
}

.submit.click {
    background-color: #0957A8;
    color: white; 
    font-size: 1.1rem; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    text-decoration: none;
    margin-top:10px;
}

.submit.click:hover {
    background-color: #51A4F1; 
}

.infor-text[disabled] {
    background-color: #f0f0f0; /* Màu nền xám nhẹ */
    color: #555555; /* Màu chữ xám đậm */
    font-weight: bold; /* Chữ đậm hơn */
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
    opacity: 1; /* Giữ độ mờ ở mức tối đa */
}
