<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bách Khoa UNI - Hệ thống Quản lý</title>
    <link rel="stylesheet" href="/css/homePage.css" />
</head>
<body>
    <div class="banner">
        <nav class="navbar">
            <div class="logo-container">
                <img src="/images/Logo.jpg" alt="BKU Logo" class="logo">
                <a href="/home" class="brand-name">Bách Khoa UNI</a>
            </div>
            <ul class="nav-links">
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/about">Về chúng tôi</a></li>
            </ul>
        </nav>

        <div class="hero-content">
            <h1>HỆ THỐNG QUẢN LÍ BÁCH KHOA UNI</h1>
            <p>Tăng hiệu quả bán hàng và quản lý cửa hàng toàn diện với hệ thống BKU!</p>
            <div class="cta-buttons">
                <button type="button" class="btn" onclick="location.href='/employeeList'"><span></span>DANH SÁCH NHÂN VIÊN</button>
                <button type="button" class="btn" onclick="location.href='/productLot'"><span></span>DANH SÁCH SẢN PHẨM</button>
                <button type="button" class="btn" onclick="location.href='/importBatch'"><span></span>KIỂM TRA NHẬP HÀNG</button>
                <button type="button" class="btn" onclick="location.href='/productBill'"><span></span>HÓA ĐƠN SẢN PHẨM</button>
                <button type="button" class="btn" onclick="location.href='/supplier'"><span></span>NHÀ CUNG CẤP</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="contact-info">
            <p>Thư điện tử: bk_uni@gmail.com</p>
            <p>Đường dây nóng: (+84) 975 801 426</p>
            <p>Địa chỉ: Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương</p>
        </div>
        <div class="copyright">
            Bản quyền thuộc về: Tổ kỹ thuật Trường Đại học Bách Khoa HCM
        </div>
    </footer>
</body>
</html>