<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Batch</title>
    <link rel="stylesheet" href="/css/employeeList.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="/js/importBatch.js"></script>

    <div class="container">
        <nav th:replace="navbar :: nav"></nav>

        <section class="main">
            <div class="table-wrapper">
                <h1>Kiểm tra nhập hàng</h1>

                <form action="" class="search-box">
                    <!--icon------>
                    <i class="fas fa-search"></i>
                    <!--input----->
                    <input type="text" class="search-input" placeholder="Nhập tên nhà cung cấp" name="nameSuplier"
                        id = "nameSuplier" size="80px" required>
                    
                    <input type="text" class="search-input" placeholder="Nhập giá tiền tối thiểu" name="minPrice"
                        id = "minPrice"size="80px" required>
                    <!--btn------->
                    <!-- <input type="submit" class="search-btn" value="Search"> -->
                    <button type="button" class="search-btn" value="Search" onclick="searching()">Search</button>
                </form>


                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã chi nhánh</th>
                            <th>Ngày nhập hàng</th>
                            <th>Loại sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody id="importBatchBody">
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

</html>