<nav class="nav-bar">
    <ul>
        <li><a href="/home" class="user">
                <span class="nav-item">
                    <div class="user-name">BACH KHOA UNI</div>
                    <div class="user-role">Danh mục quản lí</div>
                </span>
            </a></li>
        <li><a href="/home">
                <i class="fas fa-home" aria-hidden="true"></i>
                <span class="nav-item">Trang Chủ</span>
            </a></li>
        <li><a href="/employeeList">
                <i class="fas fa-user" aria-hidden="true"></i>
                <span class="nav-item">Nhân Viên</span>
            </a></li>
        <li><a href="/productLot">
                <i class="fas fa-box-open" aria-hidden="true"></i>
                <span class="nav-item">Sản Phẩm</span>
            </a></li>
        <li><a href="/importBatch">
                <i class="fas fa-truck" aria-hidden="true"></i>
                <span class="nav-item">Nhập Hàng</span>
            </a></li>
        <li><a href="/productBill">
                <i class="fas fa-file" aria-hidden="true"></i>
                <span class="nav-item">Hóa Đơn</span>
            </a></li>
        <li><a href="/supplier">
                <i class="fas fa-handshake" aria-hidden="true"></i>
                <span class="nav-item">Nhà Cung Cấp</span>
            </a></li>
    </ul>
</nav>
