<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Page</title>
    <link rel="stylesheet" href="/css/employeeList.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="/js/supplier.js"></script>
</head>
<body>
    <div class="container">
        <nav th:replace="navbar :: nav"></nav>

        <section class="main">
            <div class="table-wrapper">
                <h1>Danh sách Nhà Cung Cấp</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã Số</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Mã Bưu Chính</th>
                            <th>Số điện thoại</th>
                        </tr>
                    </thead>
                    <tbody id = "supplierBody">
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

</html>